
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Dream-Avenue;
    src: url(../assets/fonts/FontsFree-Net-Dream-Avenue.ttf);
}

@font-face {
    font-family: TT-Drugs;
    src: url(../assets/fonts/TTDrugs-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    background-color: black;
    min-width: fit-content;
}

.head{
    font-family: Dream-Avenue;
}

.font-tt{
    font-family: TT-Drugs;
}

.blur{
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0)); */
    /* backdrop-filter: blur(15px); */
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
}
