<div class="sliderAx h-auto">
    <div id="slider-1" class="container mx-auto">
        <div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill"
            style="background-image: url(./assets/caraosel1.gif)">
            <div class="md:w-1/2">
                <br><br><br><br><br><br><br><br><br><br><br>

            </div>
        </div> <!-- container -->
        <br>
    </div>

    <div id="slider-2" class="container mx-auto">
        <div class="bg-cover bg-top  h-auto text-white py-24 px-10 object-fill"
            style="background-image: url(./assets/carousel3.jpg)">

            <div class="md:w-1/2">
                <br><br><br><br><br><br><br><br><br><br><br>

            </div>


        </div> <!-- container -->
        <br>
    </div>
</div>
<div class="flex justify-between w-12 mx-auto pb-2">
    <button id="sButton1" onclick="sliderButton1()" class="bg-purple-400 rounded-full w-4 pb-2 "></button>
    <button id="sButton2" onclick="sliderButton2() " class="bg-purple-400 rounded-full w-4 p-2"></button>
</div>