<div class="bg-grey-900 flex flex-col justify-start items-center mobile:mt-0">
  <h1 class="head text-[5rem] leading-tight mt-40 ml-16 mobile:text-center mobile:ml-0 mini:text-[3rem]"
    data-aos="flip-up">EVENTS ORGANIZED</h1>
  <div class="flex gap-10 mt-10 align-middle items-center mobile:flex mobile:flex-col">
    <img class="max-w-lg max-h-72 border-2 mini:max-w-xs" src="./assets/img/boat.jpg" alt="" data-aos="fade-right">
    <img class="max-w-xs mini:max-w-[16rem]" src="./assets/img/elephant.png" alt="" data-aos="fade-left">
  </div>
  <!-- component -->
  <div class=" w-full h-full mt-10 mini:text-base">
    <div class="relative wrap overflow-hidden h-full m-12 mini:m-6">

      <!-- left timeline -->
      <div
        class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline mini:flex-row mini:justify-start"
        data-aos="fade-right">
        <div class="border-2-2 absolute border-opacity-20 z-10 mini:static border-white h-full border"
          style="left: 50%"></div>
        <div class="order-1 w-5/12 mini:order-[0] mini:w-0"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg">1</h1>
        </div>
        <div
          class="order-1 bg-gradient-to-r from-purple-600  to-orange-400 rounded-lg shadow-xl w-5/12 px-6 py-4 mini:w-full mini:ml-2">
          <h3 class="mb-3 font-bold  text-xl">Saraswati Puja Decoration Feb'2023</h3>
          <p class="text-sm font-bold leading-snug tracking-wide text-white text-opacity-100">Saraswati Puja, a festival
            widely observed in reverence of Goddess Saraswati, is a cherished occasion for students, artists, and
            scholars alike. The venue was transformed into a divine haven through the artistic club's creative efforts.
            A majestic backdrop, adorned with intricate floral motifs and radiant colors, served as the centerpiece of
            the puja area. Soft hues of blue and white, symbolizing purity and wisdom, dominated the decor, reflecting
            the essence of Goddess Saraswati.</p>
        </div>
      </div>

      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline mini:justify-start" data-aos="fade-left">
        <div class="border-2-2 absolute border-opacity-20 border-white h-full border z-10 mini:static"
          style="left: 50%"></div>
        <div class="order-1 w-5/12 mini:order-[0] mini:w-0"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white">2</h1>
        </div>
        <div
          class="order-1 bg-gradient-to-r from-orange-400 to-purple-600 rounded-lg shadow-xl w-5/12 px-6 py-4 mini:w-full mini:ml-2">
          <h3 class="mb-3 font-bold text-white text-xl">Online Art Competition Mar'2023</h3>
          <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Artisti hosted an
            exhilarating and inclusive online art competition that garnered widespread participation and enthusiasm from
            art enthusiasts across the campus. With the aim of embracing creativity and fostering artistic expression in
            a digital landscape, the event transcended geographical boundaries, uniting artists of diverse backgrounds
            and styles. </p>

        </div>
      </div>

      <!-- left timeline -->
      <div
        class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline mini:flex-row mini:justify-start"
        data-aos="fade-right">
        <div class="border-2-2 absolute border-opacity-20 z-10 mini:static border-white h-full border"
          style="left: 50%"></div>
        <div class="order-1 w-5/12 mini:order-[0] mini:w-0"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg">3</h1>
        </div>
        <div
          class="order-1 bg-gradient-to-r from-purple-600  to-orange-400 rounded-lg shadow-xl w-5/12 px-6 py-4 mini:w-full mini:ml-2">
          <h3 class="mb-3 font-bold  text-xl">Kaalrav Nov'2022</h3>
          <p class="text-sm font-bold leading-snug tracking-wide text-white text-opacity-100">Kaalrav 2022 was one of
            the greatest event in Sikkim Manipal Institute of Technology. Amidst different culturat events, Club Artisti
            organized various events like Face Painting, art Competitions, etc and was involved in overall decoration of
            the Event. </p>
        </div>
      </div>

      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline mini:justify-start" data-aos="fade-left">
        <div class="border-2-2 absolute border-opacity-20 z-10 mini:static border-white h-full border"
          style="left: 50%"></div>
        <div class="order-1 w-5/12 mini:order-[0] mini:w-0"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full z-10 mini:static">
          <h1 class="mx-auto font-semibold text-lg text-white">4</h1>
        </div>
        <div
          class="order-1 bg-gradient-to-r from-orange-400  to-purple-600 rounded-lg shadow-xl w-5/12 px-6 py-4 mini:w-full mini:ml-2">
          <h3 class="mb-3 font-bold  text-xl">SMIT Hunger Carnival May'2022</h3>
          <p class="text-sm font-bold leading-snug tracking-wide text-white text-opacity-100">The central focus of the
            Hunger Festival was, of course, the diverse and delectable array of food offerings from different cultures
            and cuisines. Local vendors and talented home chefs contributed their finest dishes, creating a
            mouthwatering assortment of flavors and aromas. Artistic flair was infused into the presentation of each
            dish, turning the food stalls into veritable galleries of culinary creativity.</p>
        </div>
      </div>
    </div>
  </div>
</div>