<div class="bg-grey-900 flex flex-col justify-start items-center mt-20">
  <h1 class="head text-[5rem] leading-tight mt-40 ml-16" data-aos="flip-up">EVENTS ORGANIZED</h1>
  <div class="flex gap-10 mt-10 align-middle items-center">
      <img class="max-w-lg max-h-72 border-2" src="./assets/img/boat.jpg" alt="" data-aos="fade-right">
      <img class="max-w-xs" src="./assets/img/elephant.png" alt="" data-aos="fade-left">
  </div>
  <!-- component -->
  <div class=" mx-auto w-full h-full mt-10">
    <div class="relative wrap overflow-hidden p-16 h-full">
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline" data-aos="fade-left">
        <div class="border-2-2 absolute border-opacity-20 border-white h-full border" style="left: 50%"></div>
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
        </div>
        <div class="order-1 bg-gradient-to-r from-orange-400 to-purple-600 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold  text-xl">Lorem Ipsum</h3>
          <p class="text-sm font-bold leading-snug tracking-wide text-white text-opacity-100">Lorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>

      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline" data-aos="fade-right">
        <div class="border-2-2 absolute border-opacity-20 border-white h-full border" style="left: 50%"></div>
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg">2</h1>
        </div>
        <div class="order-1 bg-gradient-to-r from-purple-600  to-orange-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-white text-xl">Lorem Ipsum</h3>
          <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book.</p>
        </div>
      </div>

      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline"data-aos="fade-left">
        <div class="border-2-2 absolute border-opacity-20 border-white h-full border" style="left: 50%"></div>
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
        </div>
        <div class="order-1 bg-gradient-to-r from-orange-400  to-purple-600 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold  text-xl">Lorem Ipsum</h3>
          <p class="text-sm font-bold leading-snug tracking-wide text-white text-opacity-100">Lorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>

      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"data-aos="fade-right">
        <div class="border-2-2 absolute border-opacity-20 border-white h-full border" style="left: 50%"></div>
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg">4</h1>
        </div>
        <div class="order-1 bg-gradient-to-r from-purple-600 to-orange-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-white text-xl">Lorem Ipsum</h3>
          <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book.</p>
        </div>
      </div>
      <div class="mb-8 flex justify-between items-center w-full left-timeline"data-aos="fade-left">
        <div class="border-2-2 absolute border-opacity-20 border-white h-full border" style="left: 50%"></div>
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-white font-semibold text-lg">5</h1>
        </div>
        <div class="order-1 bg-gradient-to-r from-purple-600 to-orange-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-white text-xl">Lorem Ipsum</h3>
          <p class="text-sm  font-medium leading-snug tracking-wide text-white text-opacity-100">Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book.</p>
        </div>
      </div>
    </div>
  </div>


</div>