<div class="flex justify-around mt-[8rem] mobile:flex-col mobile:items-center mobile:mt-12">
    <div id="cover-container" class="max-w-xs flex flex-col justify-between h-[33rem] mobile:items-center mobile:text-center mobile:h-[29rem]">
        <h1 class="head text-[5rem] leading-tight" data-aos="flip-up">JOIN US</h1>
        <div class="head flex flex-col" data-aos="fade-right">
            <h4 class="font-tt text-[1.4rem] leading-tight">ADDRESS</h4>
            <p class="font-tt w-80 text-sm mt-4">
                SIKKIM MANIPAL INSTITUTE OF TECHNOLOGY<br>MAJHITAR, SIKKIM, 737136
            </p>
            <h4 class="font-tt mt-8 text-[1.4rem] leading-tight">PHONE</h4>
            <p class="font-tt w-80 text-sm mt-4">
                +91-6003194793
            </p>
            <h4 class="font-tt mt-8 text-[1.4rem] leading-tight">EMAIL</h4>
            <p class="font-tt w-80 text-sm mt-4">
                artistismit@gmail.com
            </p>
        </div>
    </div>
    <div class="flex mobile:mt-8" data-aos="fade-left">
        <img class="max-w-md max-h-full" src="./assets/img/portrait.png" alt="">
    </div>
</div>