<header class="header fixed w-full top-0 shadow-md px-8 py-02 font-tt text-white transition-all duration-150" id="nav"
    style="z-index: 50">
    <div class="flex items-center justify-between">
        <!-- logo -->
        <h1 class="w-3/12">
            <div class="flex flex-row  h-16 w-16">
                <img class="h-16 w-16 mobile:h-8 mobile:w-8 mobile:my-1" src="../assets/logo.png">
                <div class="ml-2 mt-4 font-bold text-2xl">ARTISTI</div>
            </div>
        </h1>

        <!-- navigation -->
        <nav class="nav font-bold mobile:hidden mobile:justify-center">
            <ul class="flex items-center justify-center">
                <li class="pl-8 border-opacity-0 hover:border-opacity-100 hover:text-red-500 duration-200 cursor-pointer active"
                    id="nav">
                    <a href="/">Home</a>
                </li>
                <li
                    class="pl-8 border-opacity-0 hover:border-opacity-100 hover:text-red-500 duration-200 cursor-pointer">
                    <a href="/gallery">Gallery</a>
                </li>
                <li
                    class="pl-8 border-opacity-0 hover:border-opacity-100 hover:text-red-500 duration-200 cursor-pointer">
                    <a href="">Team</a>
                </li>
                <li
                    class="pl-8 border-opacity-0 hover:border-opacity-100 hover:text-red-500 duration-200 cursor-pointer">
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Mobile Toggler -->
        <div class="hidden mobile:flex mobile:flex-row ">
            <button class="mobile-menu-btn navbar-burger flex items-center text-white p-3" id="btn">
                <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Mobile Toggler</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Mobile-Menu  -->

    <div class="hidden mobile-menu flex flex-col justify-center items-center mobile:items-center">
        <a href="/" class="block pl-8 font-bold border-red-500 border-opacity-0 cursor-pointer active">Home</a>
        <a href="/gallery" class="block pl-8 font-bold border-red-500 border-opacity-0 cursor-pointer">Gallery</a>
        <a href="" class="block pl-8 font-bold border-red-500 border-opacity-0 cursor-pointer "> Team
            Us</a>
        <a href="" class="block pl-8 font-bold border-red-500 border-opacity-0 cursor-pointer">Contact</a>
    </div>
</header>

<script>
    window.onscroll = () => {
        const nav = document.querySelector('#nav');
        const btn = document.querySelector('#btn');
        if (this.scrollY > 10) { 
            nav.className = 'header fixed w-full top-0 shadow-md px-8 py-02 z-10 font-tt bg-slate-50 text-black transition-all duration-150'; 
            btn.className = 'mobile-menu-btn navbar-burger flex items-center text-black p-3'
        }
        else {
            nav.className = 'header fixed w-full top-0 shadow-md px-8 py-02 z-10 font-tt text-white transition-all duration-150 ';
            btn.className = 'mobile-menu-btn navbar-burger flex items-center text-white-900 p-3'
        }
    };
</script>