<div class=" flex justify-between mt-8">
    <div class="flex flex-col" data-aos="fade-right">
        <h1 class="head text-[3rem] leading-tight mt-20 ml-16">A TRUE ARTIST IS NOT THE ONE WHO IS INSPIRED. BUT THE ONE WHO INSPIRES OTHERS.</h1>
        <h1 class="head text-[2rem] leading-tight mt-20 ml-16">Salvador Dali</h1>

    </div>
    <div class="mr-8" data-aos="fade-left">
        <img class="" src="./assets/img/girl.jpg" alt="">
    </div>
</div>