<div class="container flex justify-around mt-[8rem]">
    <div class="">
        <img class="absolute max-w-xs rounded-t-[10rem]" src="./assets/img/cover.jpg" alt="">
    </div>
    <div id="cover-container" class="max-w-xs flex flex-col justify-center h-[33rem]">
        <h1 class="head text-[5rem] leading-tight">OUR<br>SERVICES</h1>
        <div class="flex flex-col font-TT-Drugs">
            <h4 class="font-tt mt-8 text-[1rem] leading-tight">WHAT DO WE OFFER ?</h4>
            <p class="font-tt w-80 text-sm mt-4">
                We help you develop your passion for art and connect with other artists and art enthusiasts.!
            </p>
        </div>
    </div>
</div>