<div class="container flex justify-around mt-[8rem] mobile:flex-col mobile:mt-12 mobile:items-center">
    <div class="mobile:flex mobile:items-center mobile:justify-center">
        <img class="absolute max-w-xs rounded-t-[10rem] mobile:max-w-[16rem] mobile:mt-[10rem]" src="./assets/img/services.jpeg" alt="">
    </div>
    <div id="cover-container" class="max-w-xs flex flex-col justify-center h-[33rem] mobile:mt-52">
        <h1 class="head text-[5rem] leading-tight mini:text-[3rem]">OUR SERVICES</h1>
        <div class="flex flex-col font-TT-Drugs">
            <h4 class="font-tt mt-8 text-[1rem] leading-tight">WHAT DO WE OFFER ?</h4>
            <p class="font-tt w-80 text-sm mt-4">
                We help you develop your passion for art and connect with other artists and art enthusiasts.!
            </p>
        </div>
    </div>
</div>
<div class="flex flex-wrap mx-4 bg-opacity-70 bg mt-40 mobile:flex-col mini:mt-6" id="services">
    <div class="w-4/12 mobile:w-full">
        <div class="
            p-10
            relative
            hover:bg-transparent
            shadow-md
            hover:shadow-lg
            " id="box">
            <div class="
               w-[70px]
               h-[70px]
               flex
               items-center
               justify-center
               rounded-2xl
               mb-8
               ">
               <img src="./assets/icons/student.png" alt="" style="filter: invert();">
            </div>
            <h4 class="font-semibold text-white text-xl">
                Club Membership
            </h4>
            <p class="text-white">
                Our Art Club Membership gives you access to exclusive art content, such as tutorials, artist
                interviews, and behind-the-scenes content.
                <br><br>
            </p>
        </div>
    </div>
    <div class="w-4/12 mobile:w-full">
        <div class="
            p-10
            relative
            hover:bg-transparent
            shadow-md
            hover:shadow-lg
            " id="box">
            <div class="
               w-[70px]
               h-[70px]
               flex
               items-center
               justify-center
               rounded-2xl
               mb-8
               ">
                <img src="./assets/icons/paint-palette.png" alt="" style="filter: invert();">
            </div>
            <h4 class="font-semibold text-white text-xl">
                Art Workshops
            </h4>
            <p class="text-white">
                We offer a variety of art workshops for all skill levels, from beginner to advanced. Our
                workshops cover a wide range of topics, including drawing, painting, sculpture, printmaking, and
                more.
            </p>
        </div>
    </div>
    <div class="w-4/12 mobile:w-full">
        <div class="
            p-10
            relative
            hover:bg-transparent
            shadow-md
            hover:shadow-lg
            " id="box">
            <div class="
               w-[70px]
               h-[70px]
               flex
               items-center
               justify-center
               rounded-2xl
               mb-8">
                <img src="./assets/icons/calendar.png" style="filter: invert();" alt="">
            </div>
            <h4 class="font-semibold text-white text-xl">
                Art Events
            </h4>
            <p class="text-white">
                We organize art events such as art fairs, art markets, and art auctions. Our events provide
                opportunities for artists to sell their work and for art enthusiasts to discover new artists and
                art styles.
            </p>
        </div>
    </div>
    <div class="w-4/12 mobile:w-full">
        <div class="
            p-10
            relative
            hover:bg-transparent
            hover:shadow-lg
            " id="box">
            <div class="
               w-[70px]
               h-[70px]
               flex
               items-center
               justify-center
                mb-8
               rounded-2xl
               " id="box">
                <img src="./assets/icons/micr.png" style="filter: invert();" alt="">
            </div>
            <h4 class="font-semibold text-white text-xl">
                Art Critique Sessions
            </h4>
            <p class="text-white">
                Our Art Critique Sessions provide a constructive environment for artists to receive feedback on
                their work & provide thoughtful and insightful critiques to
                help artists improve their techniques & skills.
            </p>
        </div>
    </div>
    <div class="w-4/12 mobile:w-full">
        <div class="
            p-10
            relative
            hover:bg-transparent
            shadow-md
            hover:shadow-lg
            " id="box">
            <div class="
               w-[70px]
               h-[70px]
               flex
               items-center
               justify-center
               rounded-2xl
               mb-14
               ">
                <img src="./assets/icons/paint-brush.png" style="filter: invert();" alt="">
            </div>
            <h4 class="font-semibold text-white text-xl">
                Art Exhibitions
            </h4>
            <p class="text-white">
                We regularly host art exhibitions to showcase the work of local and emerging artists. Our
                exhibitions provide a platform for artists to share their work with the public & artists.
            </p>
        </div>
    </div>
    <div class="w-4/12 mobile:w-full">
        <div class="
            p-10
            relative
            hover:bg-transparent
            shadow-md
            hover:shadow-lg
            " id="box">
            <div class="
               w-[70px]
               h-[70px]
               flex
               items-center
               justify-center
               rounded-2xl
               mb-8
               ">
                <img src="./assets/icons/consulting.png" style="filter: invert();" alt="">
            </div>
            <h4 class="font-semibold text-white text-xl">
                Consultations
            </h4>
            <p class="text-white">
                We offer art consultations for individuals and businesses who are interested in purchasing art.
                Our experienced consultants can provide guidance on selecting art that fits your style, budget,
                and space.
            </p>
        </div>
    </div>
</div>
</div>